html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#main{
    display: flex;
    /* width: 100%; */
    /* background-color: coral; */
    justify-content: center;
    align-items: center;

}
.linhas{
    display: flex;
}

.slot{
    width: 50px;
    height: 50px;
    background: #bdbdbd;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #747474;
    border-bottom: 2px solid #747474;
}

.slot:hover{
    background: #bdbdbdc0;
}

.slot.clicked{
    border-top: 2px solid #747474;
    border-left: 2px solid #747474;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}