html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.linhas {
  display: flex;
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info-bandeiras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}
.info-bandeiras img {
  height: 30px;
}

.slot {
  width: 30px;
  height: 30px;
  background: #bdbdbd;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #747474;
  border-bottom: 2px solid #747474;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.slot:hover {
  background: #bdbdbdc0;
}

.slot.clicado {
  border-top: 2px solid #747474;
  border-left: 2px solid #747474;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.bomba::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #000;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: none;
}

.bandeiras {
  padding: 15px;
  font-size: 21px;
}

.bandeira {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bandeira img {
  height: 25px;
}

.bomba.perdeu {
  background: red;
}
.ativada {
  background-color: green;
}
